@import "~bootstrap/scss/bootstrap";

#app {

  .list-selector {
    max-height: 500px;
    overflow-y: scroll;
  }

  .list-wrapper {
    text-align: center;
    max-height: 400px;
    overflow-y: scroll;

    li {
      border: 1px solid grey;
      padding: 10px 0;
      border-radius: 5px;
      text-align: center;
      list-style: none;
    }
  }
}
