@import "~bootstrap/scss/bootstrap";

#app {

  .hidden {
    visibility: hidden;
  }

  .list-selector {
    height: 500px;
    overflow-y: scroll;
  }

  .list-wrapper {
    text-align: center;
    height: 400px;
    overflow-y: scroll;

    li {
      border: 1px solid grey;
      padding: 10px 0;
      border-radius: 5px;
      text-align: center;
      list-style: none;

      .list-featured-image {
        height: 65px;
        width: 65px;

        img {
          max-height: 100%;
          object-position: 50% 50%;
        }
      }
    }
  }
}
