@import "~bootstrap/scss/bootstrap";

$largeFontSize: 1.5em;
$smallFontSize: 0.8em;

$primaryColor: rgba(255, 90, 0, 1);
$primaryColor-1: rgba(255,90,0,0.1);
$primaryColor-8: rgba(255,90,0,0.8);

$votedGreenColor: rgba(0, 128, 0, 1);
$votedGreenColor-8: rgba(0, 128, 0, 0.8);
$votedRedColor: rgba(255, 0, 0, 1);
$votedRedColor-8: rgba(255, 0, 0, 0.8);

%centerElement {
  display: inline-block;
  margin: 0 auto;
}

%votedBackgroundColor {

  &.list-voter-green {
    background-color: $votedGreenColor;

    &:hover {
      background-color: $votedGreenColor-8;
    }
  }

  &.list-voter-red {
    background-color: $votedRedColor;

    &:hover {
      background-color: $votedRedColor-8;
    }
  }
}

.list-voter-admin-wrapper {
  margin-bottom: 30px;
}

#app {

  //prevent margin from being set by client's theme
  ul {

    li {
      margin-left: 0px !important;
    }
  }

  //

  .hidden {
    visibility: hidden;
    height: 0;
  }

  .list-voter-loader-wrapper {

    width: 100%;

    .list-voter-loader {
      @extend %centerElement;
      border: 16px solid #f3f3f3; /* Light grey */
      border-top: 16px solid $primaryColor; /* Blue */
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
    }
  }

  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }

  //applies to list items and list of lists
  .list-wrapper {
    text-align: center;
    overflow-x: hidden;

    li {
      border: {
        bottom: 1px solid grey;
      }
      border-radius: 1px;
      text-align: center;
      list-style: none;
    }
  }

  //aplies to just list of list
  .list-selector {

    .list-wrapper {
      margin: 20px;

      li {
        border-left: 4px solid blue;
        padding: 10px 0;
      }
    }
  }

  //applies to just list items
  .list-editor {

    &.admin {

      .add-list-item-form {
        height: 40px;
      }

      ul {
        height: 370px;
        overflow-y: scroll;

        .list-featured-image {
          @extend %centerElement;
          height: 80px;

          img {
            @extend %centerElement;
            height: 100%;
            min-width: 100%;
            object-fit: cover;
          }
        }
      }
    }

    &:not(.admin) {
      .list-featured-image {
        @extend %centerElement;
        height: 80px;
        max-width: 150px;

        img {
          @extend %centerElement;
          height: 100%;
          min-width: 100%;
          object-fit: cover;
        }
      }
    }


    .list-item {

      margin-bottom: 0;
      border-left: 4px solid $primaryColor;
      padding: 10px;
      padding-right: 30px;

      &.list-voter-green {
        border-left: 4px solid $votedGreenColor;
      }

      &.list-voter-red {
        border-left: 4px solid $votedRedColor;
      }

      .vote {
        font-size: $largeFontSize;
        font-weight: bold;
      }

      .vote-button {
        padding: 0;
        font-size: $smallFontSize;
        text-align: center;

        .circle {
          @extend %centerElement;
          border-radius: 50%;
          height: 40px;
          width: 40px;
          background-color: $primaryColor;

          @extend %votedBackgroundColor;

          &:hover {
            background-color: $primaryColor-8;
          }

          i {
            @extend %centerElement;
            margin-top: 7px;
            color: white;
            font-size: $largeFontSize;
          }
        }


      }

      .list-item-title, .list-item-read-more {

        span {
          @extend %centerElement;
          text-align: center;
        }
      }

      .list-item-title {
        font-size: $largeFontSize;
        font-weight: bold;

        span {
          margin-top: 10px;
          margin-bottom: 5px;
        }
      }

      .list-item-read-more {
        font-size: $smallFontSize;

        button {
          @extend %centerElement;
          background-color: $primaryColor;
          color: white;

          @extend %votedBackgroundColor;

          &:hover {
            background-color: $primaryColor-8;
          }
        }
      }
    }

    .list-item-content {
      border-right: 4px solid $primaryColor;
      background: $primaryColor-1;

      div {
        margin-top: 15px;
        padding: 0 15px;
      }
    }
  }
}
